<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="HealthcareProjectBeamMaginniss.Properties.Settings.cs3230f16bConnectionString"
         connectionString="server=160.10.23.6;user id=nbeam2;password=mFf9P4NB4I;database=cs3230f16b"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>